
.signinform{
		width: 30%;
		margin-top: 50px;
		margin-left: 35%;
		background-color: #f1f1f1;
}
.signform{
	height: inherit;
	padding: 5%;
  margin-top: 35px;
	font-size: 20px;
}
@media screen and (max-width: 840px){
	.signinform{
		width: 100%;
		margin-left: 0;
}
	.signform{
	height: inherit;
	padding: 5%;
	font-size: 20px;
}
}
.forminputgroup{
    width: 85%;
}
.forminput{
		width: 100%;
    border: none;
    height: 20px;
    line-height: 20px;
    border-radius: 20px;
		padding: 5px;
		margin: 10px;
}

#forgotpass{
		color: blue;
		font-size: 14px;
		float: right;
}
#createacc{
	float: left;
	color: #000;
	font-size: 14px;
	margin-top: 5px;
}
#loginacc{
  color: #000;
  font-size: 14px;
}
#formsubmit{
	width: 40%;
	padding: 5px 10px;
	margin: 5px;
	background-color: #1E90FF ;
	border: 1px solid #eee;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
}
@media screen and (max-width: 1302px){
	#formsubmit{
	width: auto;
}
}
#crform{
	display: none;
}
#rform{
  display: none;
}
